<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@resto, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
	
      <div class='row'>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :fname %>
      <%= f.text_field :fname %>
      </div>

      <div class='row'>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>

      <div class='row'>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>
      </div>

      <div class='row'>
      <%= f.label :adresse %>
      <%= f.text_field :adresse %>

      <%= f.label :resto %>
      <%= f.text_field :resto %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
